/* Gallery Styling */

 .th {
	float: left;
	margin: 0 20px 10px 0;
}

a.gallink {

    float: left;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

div.tabs {

    background: black;
}

/* 
p, h3, a {
	font-family: 'redactedregular';
}
*/