/* Gallery Styling */

 .th {
	float: left;
	margin: 0 20px 10px 0;
}


.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

.top-bar .name h1 a {
    
    font-size: 1.5em;
    font-family: 'Lobster', cursive;

}

a {
    color: #333;
}
h2.galhead {

    font-family: 'Lobster', cursive;
    text-align: center;
}
/* View Toggle*/

a.view {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
i, a.view {

    vertical-align: center;
    padding-right: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.top-bar-section li:not(.has-form) a:not(.button) {

    font-weight: bold;
}

/* Images */

img.thumb {

    width: 200px;
    height: 150px;
}
